dtd/nobsma.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( nob | sme | sma | swe | eng | deu | smn | fin | fkv | sms | myv | mhr | sjd | rus | smj ) #IMPLIED
>
<!ATTLIST r
      id ( smenob | nobsme | smnfin | finsmn | finsme | fkvnob | smnsme | smjsme | smesmn | smesmj | smesma | smefin | smasme | smamul | nobsma | smafin | swesma | smeeng |
      nobsmj ) #IMPLIED >


<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'
    xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a|i)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>

<!ELEMENT e (lg, mg+, ig*) >

<!ATTLIST e note CDATA #IMPLIED >

<!ELEMENT lg (l+, l_ref*, lemma_ref*, lsub*, lc*, analysis*, mini_paradigm*, algu?, orig?) >
<!ELEMENT lemma_ref (#PCDATA) >
<!ATTLIST lemma_ref lemmaID CDATA #IMPLIED >
<!ATTLIST lg freq CDATA #IMPLIED >
<!ELEMENT analysis (#PCDATA|wordform)* >
<!ATTLIST analysis ms CDATA #IMPLIED >
<!ELEMENT wordform (#PCDATA) >
<!ELEMENT mini_paradigm (analysis+) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l
      pos ( A | N | V | Adv | Pr | Pron | Interj |
            Num | CC | CS ) #IMPLIED
      type ( Prop | Dem | Indef ) #IMPLIED
>
<!ATTLIST l sem_type ( Plc | Fem | Org | Txt ) #IMPLIED >
<!ATTLIST l src CDATA #IMPLIED >
<!ATTLIST l value CDATA #IMPLIED >
<!ATTLIST l t_type ( expl | phrase ) #IMPLIED  >
<!ATTLIST l re CDATA #IMPLIED >

<!-- decl: i indeclineable -->


<!-- algu = lemma IDs in the algu database -->
<!ELEMENT algu EMPTY >
<!ATTLIST algu
      lekseemi_id CDATA #REQUIRED >
<!ATTLIST algu
      sanue_id CDATA #REQUIRED >

<!-- Idiom phrases, faste uttrykk -->
<!ELEMENT ig ( i+, id?, it+)+ >
<!ELEMENT i (#PCDATA) >
<!ELEMENT id (#PCDATA) >
<!ELEMENT it (#PCDATA) >

<!ELEMENT mg (l_ref?, tg+, xg*, ig* ) >
<!ATTLIST mg
      rest CDATA #IMPLIED
>
<!ATTLIST mg id CDATA #IMPLIED >
<!ATTLIST mg src CDATA #IMPLIED >

<!ELEMENT tg (re?,  ( (t, stem*, l_ref?, morph_expl? ))+, xg*, syng?) >
<!ATTLIST tg
      xml:lang ( sme | sma | smn | nob | swe | eng | deu | fin | rus | smj | fra | lat) #REQUIRED
      check CDATA #IMPLIED
>
<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ATTLIST re
    xml:lang ( nob | sme | sma | smn | swe | eng | deu | lat) #IMPLIED
>
<!ATTLIST re x ( fad ) #IMPLIED >
<!ATTLIST re comment CDATA #IMPLIED >

<!ELEMENT t (#PCDATA) >
<!ATTLIST t t_type ( expl | phrase | grammar ) #IMPLIED  >
<!ATTLIST t nr ( Sg | Pl ) #IMPLIED  >
<!ATTLIST t pos ( A | N  | V |
            Adv | Pr | Po |
            Pron | Interj | CC | CS | Num |
            Pcle | Xxx ) #IMPLIED >

<!ATTLIST t type ( IV | TV | 
      Interr | Pers | Indef | Dem | Logo | Recopr | Refl | Rel | Recipr |
      Coll | NomAg | Prop ) #IMPLIED >
<!ATTLIST t dialect CDATA #IMPLIED >
<!ATTLIST t src CDATA #IMPLIED >
<!ATTLIST t attr CDATA #IMPLIED >
<!ATTLIST t hid CDATA #IMPLIED >
<!ATTLIST t href CDATA #IMPLIED >
<!ATTLIST t value CDATA #IMPLIED >
<!ATTLIST t stem CDATA #IMPLIED >
<!ATTLIST t pg (no) #IMPLIED >
<!ATTLIST t class ( I | II | III | IV | V | VI ) #IMPLIED >
<!ATTLIST t context CDATA #IMPLIED >
<!ATTLIST t minip CDATA #IMPLIED >
<!ATTLIST t p3p CDATA #IMPLIED >
<!ATTLIST t vow CDATA #IMPLIED >
<!ATTLIST t illpl CDATA #IMPLIED >
<!ATTLIST t case CDATA #IMPLIED >
<!ATTLIST t umlaut ( full | A | C | B | D | E | F ) #IMPLIED >
<!ATTLIST t diph CDATA #IMPLIED >
<!ATTLIST t mod (ind) #IMPLIED >


<!ELEMENT l_ref (#PCDATA) >

<!ELEMENT xg ((x, xt+)+)>
<!ATTLIST xg re CDATA #IMPLIED >
<!ELEMENT x (#PCDATA)>
<!ATTLIST x src CDATA #IMPLIED >
<!ELEMENT xt (#PCDATA)>
<!ATTLIST xt src CDATA #IMPLIED >

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >



<!--
This document is not quite finished yet...

Here are the pos tags:
 a  = Adjective
 m  = Masculine (nob)
 f  = Feminine (nob)
 n  = Neuter (nob), noun (sme)
 S  = noun, still not given gender (nob)
 v  = verb
 adv  = adverb
 num = numeral
 pcle = particle
 p  = preposition (nob)
 pr = preposition (sme)
 po = postposition (sme)
 pron  = pronoun
 i  = interjection
 cc  = conjunction
 cs  = subjunction
 im = infinitive mark å (nob)
 s  = sentence, or explanation
 x  = still no pos

Documenting
(the tags are short due to a manual cleanup)
r  root
e  entry
l  lemma
lc lemma comment
m  meaning
re restriction (semantic restriction of the following t)
t  translation
x  example
xt example translation
.g group
-->
